.confirm-prompt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .confirm-prompt h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
  
  .confirm-prompt {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden; 
    text-align: center;
  }
  
  .confirm-prompt h2 {
    margin-bottom: 10px;
  }
  
  
  .confirm-prompt-actions {
    display: flex;
    justify-content: right;
  }
  
  .confirm-prompt-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    display: flex;
    
  }
  
  .confirm-prompt-actions button:first-child {
    margin-left: 8px;
    background: #ffffff;
    color: black;
    border: 1px solid black;
    margin-right: 5%
  }

  .confirm-prompt-actions button:first-child:hover {
    background: #333;
    color:white;
  }
  
  .confirm-prompt-actions button:last-child {
    background: #333;
    color: white;
  }

  .confirm-prompt-actions button:last-child:hover {
    background: #fff;
    color: black;
    border: 1px solid black;
  }