
.settings-page {
    margin-left: 13%;
    max-width: 87%;
}

.settings-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 35px;
    margin-left: 20px;
}

.setting-btn {
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 45px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.setting-btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.setting-btn:hover img {
    filter: invert(1);
}

.setting-btn .mail {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.setting-btn .password {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}